[project]
name = "cc-stt"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [
    { name = "dayn9t", email = "dayn9t@gmail.com" }
]
requires-python = ">=3.12"
dependencies = []

[project.scripts]
cc-stt = "cc_stt:main"

[build-system]
requires = ["uv_build>=0.9.26,<0.10.0"]
build-backend = "uv_build"
